body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
}

.navbar {
    background-color: #df2525;
    color: white;
    padding: 10px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: darkcyan;
    padding: 25px;

}
h1 {
    font-size:48px;
}

.nav-links a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    transition:0.5s;
}
   
.nav-links a:hover {
    color:red;

}

.hero {
    background-color: #b3d9f0;
    padding: 50px 20px;
}

.hero p{
    font-size: 28px;
}
.projects {
    padding: 40px 20px;
    background-color: #f8f8f8;
}
.project-grid {
        display:flex;
        justify-content:center;
        gap:20px;
        flex-wrap:wrap;
}

.project{
    background-color: white;
    border: 1px solid #ddd;
    padding: 30px;
    width: 300px;
}

.project p{
    font-size: 24px;
    color: #555;
}
.small-image {
    width: 100%;
    height: auto;
}

.sticky{
    position:sticky;
    top:0;
    bottom: 0;
    z-index:1000;
}

.project h3 {
    font-size: 30px;
    margin-bottom: 15px;
}
footer {
    background-color: #222;
    color: white;
    padding: 15px;
    font-size: 14px;
}


